
<!-- Header navigation Bar -->
<mat-toolbar style="color:white;background-color: #bd34069e">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon >menu</mat-icon>
      </button>
      <h1>Application Name</h1>
      <span class="menu-spacer"></span>
      <div >
        <!-- <a mat-button [routerLink]="'/accounts'"> Accounts </a>-->
 
        
        <a [matMenuTriggerFor]="menu" mat-button [routerLink]="'/my-profile'"> 
            <mat-icon>account_circle</mat-icon>  {{userMetaData.firstName}}&nbsp;{{userMetaData.lastName}} </a>
        
            <mat-menu #menu="matMenu"  xPosition="before">
                <button mat-menu-item>
                    <mat-icon>account_box</mat-icon>    
                   Profile
                </button>
                <button mat-menu-item>
                    <mat-icon>settings</mat-icon>
                    Settings</button>
                <button mat-menu-item>
                    <mat-icon>exit_to_app</mat-icon>
                    Logout</button>
            </mat-menu>

        <!-- <a mat-button [routerLink]="'/login'"> Login </a>
        <a mat-button [routerLink]="'/signup'"> Sign up </a> -->

        <a mat-button [routerLink]="'/contacts'"> 
            <mat-icon>notifications_none</mat-icon> </a>

       
      </div>
    </mat-toolbar-row>
  
        
  </mat-toolbar>

  <!-- Side navigation bar -->
  <mat-sidenav-container>
      
    <mat-sidenav #sidenav [(opened)]="opened" mode="side">
      <mat-nav-list >
  
        <ul class="nav navbar-nav" >

          
          <li><a mat-list-item routerLinkActive="active" [routerLink]="'/dashboard/users'"><mat-icon>supervised_user_circle</mat-icon>{{userMetaData.menus[1]}}</a></li>
          <!--<li><a mat-list-item routerLinkActive="active" [routerLink]="'/dashboard/ovbsregistration'"><mat-icon>calendar_today</mat-icon>{{userMetaData.menus[0]}}</a></li> -->
          <li><a mat-list-item routerLinkActive="active" [routerLink]="'/dashboard/events'"><mat-icon>calendar_today</mat-icon>{{userMetaData.menus[0]}}</a></li>
          
          <!--
          <li><a mat-list-item routerLinkActive="active" [routerLink]="'/dashboard/testEvent'">Events</a></li> 
           <li><a mat-list-item routerLinkActive="active" [routerLink]="'/dashboard/ovbsregistration'">Registration</a></li> 
           <li><a mat-list-item routerLinkActive="active" [routerLink]="'/dashboard/users'">{{userMetaData.menus[1]}}</a></li>
        -->
        
        <!--
            <li *ngFor="let menu of userMetaData.menus">
                <a mat-list-item routerLinkActive="active" [routerLink]="'/dashboard/users'"> {{menu}}</a>
            </li>
        -->

        </ul>


        

  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      
        
        <!-- <app-ovbs-registration></app-ovbs-registration> -->
       <!-- <app-user-profile></app-user-profile>
       -->
       <router-outlet></router-outlet>
    </mat-sidenav-content>
    
  </mat-sidenav-container>

  <!-- Footer bar -->
  <!--
  <mat-toolbar>
    <mat-toolbar-row style="font-size:15px;text-align:center">
               
                &copy; 2021 <i>The Malankara Orthodox Church</i> All Rights Reserved.

    </mat-toolbar-row>
  
        
  </mat-toolbar>
  -->