h1{
font-family: poppins;
}
h3{
    font-size:small
}
.ProfileInfo { width: 170px; }

.mat-button
{
    float: right;
}

mat-sidenav{
    width: 13%;
}

.menu-spacer{flex: 1 1 auto; }
mat-content {
    background-color: #bc451d;
}

.main-content {padding: 20px; }

:host ::ng-deep.mat-drawer-backdrop.mat-drawer-shown{
    background-color: white;
}
mat-sidenav-container{
    height: 100%;
}
.mat-sidenav-container .navbar-nav li > a:hover,
.mat-sidenav-container .navbar-nav li > a:focus{
    background-color: #bd34069e; 
            color: #fff; 
}


/* mat-sidenav,mat-sidenav-content{
    padding: 15px;
} */

.mat-list-item{
    color: black;
    font-family: poppins;
}


/* mat-list-item:hover > mat-icon{ display: block; } */