<div class="container mt-3" style="overflow: hidden;">

    <div class="form-group form-inline row m-0 p-0">
        <input type="text" class="form-control col-12 search" placeholder="Search Here">
    </div>

    <ag-grid-angular style="width: auto; height: 480px;" class="ag-theme-alpine mt-3" [rowData]="rowData " [columnDefs]="columnDefs"
        [pagination]="true" rowSelection='multiple' [checkboxSelection]="true" (rowClicked)='onRowClicked($event)'>
    </ag-grid-angular>
</div>

<div class="col-md-12">
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Approve / Reject User</h4>
                    <button mat-button class="ml-auto" data-dismiss="modal" (click)="resetForm()">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
                <div class="modal-body p-4 border m-3 rounded">
                    <form [formGroup]="reqDisableForm">
                        <!-- <div class="row"> -->
                        <!-- <div class="col-md-6 text-center">
                                                            <img src="./assets/userprof.png" height="75%" width="50%">
                                                    </div> -->
                        <!-- <div class="col-md-12"> -->
                        <div class="row">
                            <mat-form-field class="col-2">
                                <mat-select formControlName="title" id="title" placeholder="Title" required>
                                    <mat-option value="His Grace">His Grace</mat-option>
                                    <mat-option value="Very Rev Fr. Dr">Very Rev Fr. Dr</mat-option>
                                    <mat-option value="Very Rev">Very Rev</mat-option>
                                    <mat-option value="Fr">Fr</mat-option>
                                    <mat-option value="Rev Fr. Dr">Rev Fr. Dr</mat-option>
                                    <mat-option value="Rev Fr.">Rev Fr.</mat-option>
                                    <mat-option value="Mr">Mr</mat-option>
                                    <mat-option value="Ms">Ms</mat-option>
                                    <mat-option value="Mrs">Mrs</mat-option>
                                    <mat-option value="Dr">Dr</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="col">
                                <mat-label>First Name</mat-label>
                                <input id="firstName" matInput formControlName="firstName" required/>
                            </mat-form-field>

                            <mat-form-field class="col-md">
                                <mat-label>Middle Name</mat-label>
                                <input id="middleName" matInput formControlName="middleName" required/>
                            </mat-form-field>
                            <mat-form-field class="col-md">
                                <mat-label>Last Name</mat-label>
                                <input id="lastName" matInput formControlName="lastName" required/>
                            </mat-form-field>
                            <!-- </div> -->
                        </div>
                        <div class="row">
                            <mat-form-field class="col-md">
                                <mat-label>Nick Name</mat-label>
                                <input id="lastName" matInput formControlName="nickName" />
                            </mat-form-field>
                            <mat-form-field class="col-md">
                                <mat-label>Baptismal Name</mat-label>
                                <input id="batismalName" matInput formControlName="batismalName" />
                            </mat-form-field>
                            <mat-form-field class="col-md">
                                <mat-label>Date of Birth</mat-label>
                                <input matInput type="input" [matDatepicker]="picker" required id="dob" formControlName="dob">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-md-4">
                                <mat-label style="padding-left: 15%;">Mobile Number</mat-label>
                                <input id="mobileNo" matInput formControlName="mobileNo" ng2TelInput length="10" placeholder="Enter Mobile Number" />
                            </mat-form-field>
                            <mat-form-field class="col-md-4">
                                <mat-label style="padding-left: 15%;">Home Phone Number</mat-label>
                                <input id="homePhoneNo" matInput formControlName="homePhoneNo" ng2TelInput length="10" placeholder="Enter Home Phone Number"
                                />
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <mat-label>Email Address</mat-label>
                                <input id="emailAddress" matInput formControlName="emailAddress" placeholder="Enter Email Address" readonly/>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-md-12">
                                <mat-label>Address Line 1</mat-label>
                                <input required id="addressLine1" matInput formControlName="addressLine1" placeholder="Enter Address" />
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-md-12">
                                <mat-label>Address Line 2</mat-label>
                                <input id="addressLine2" matInput formControlName="addressLine2" placeholder="Enter Address" />
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-md-12">
                                <mat-label>Address Line 3</mat-label>
                                <input id="addressLine3" matInput formControlName="addressLine3" placeholder="Enter Address" />
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-md-4">
                                <mat-label>City</mat-label>
                                <input required id="city" matInput formControlName="city" placeholder="Enter Address" />
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <mat-label>Postal Code</mat-label>
                                <input required id="postalCode" matInput formControlName="postalCode" placeholder="Enter Address" />
                            </mat-form-field>
                            <mat-form-field class="col-md-4">
                                    <mat-label>Parish</mat-label>
                                    <input required id="parish" matInput formControlName="parish" placeholder="Parish" />
                            </mat-form-field>
                        </div>
                        <div class="row">

                                <mat-form-field class="col-md-6">
                                        <mat-label>Country</mat-label>
                              
                                        <input required id="country" matInput formControlName="country" placeholder="Country" />

                                </mat-form-field>
                                <mat-form-field class="col-md-6">
                                        <mat-label>State/Province</mat-label>
                                     
                                        <input required id="state" matInput formControlName="state" placeholder="State/Province" />

                                                </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-md">
                                <mat-label>Marital Status</mat-label>
                                <select matNativeControl required id="maritalStatus" formControlName="maritalStatus" placeholder="Enter Country">
                                    <option value="married">Married</option>
                                    <option value="unmarried">Unmarried</option>
                                </select>
                            </mat-form-field>
                            <mat-form-field class="col-md">
                                <mat-label>Date of Marriage</mat-label>
                                <input matInput type="input" [matDatepicker]="marriageDatepicker" id="dateofMarriage" formControlName="dateofMarriage">
                                <mat-datepicker-toggle matSuffix [for]="marriageDatepicker"></mat-datepicker-toggle>
                                <mat-datepicker #marriageDatepicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-md-12">
                                <mat-label>About Yourself</mat-label>
                                <textarea id="about_urself" matInput formControlName="about_urself" placeholder="About Yourself"></textarea>
                            </mat-form-field>
                        </div>

                        <div class="row" style="color:gray">
                            <label id="example-radio-group-label" class="ml-3">Are you Family Head? </label>
                            <mat-radio-group aria-label="Select an option" formControlName="isFamilyHead">
                                <mat-radio-button class="ml-1" value="true">Yes</mat-radio-button>
                                <mat-radio-button class="ml-1" value="false" [checked]=true>No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </form>
                    <form [formGroup]="approveReqForm">
                        <div class="row p-0 m-0">
                            <mat-form-field class="col-md-12">
                                <textarea id="comment" matInput formControlName="comment" required placeholder="Please justify reason for user approval / rejection"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="text-center">
                            <button mat-button type="submit" mat-button class=" mr-1 border" (click)="onUserApprove()">
                                <mat-icon id="approve-icon">check_circle</mat-icon>
                                <span>Approve</span>
                            </button>
                            <button mat-button type="submit" mat-button class="border" (click)="onUserReject()">
                                <mat-icon id="reject-icon">cancel</mat-icon>
                                <span>Reject</span>
                            </button>
                        </div>

                        <!-- <div class="text-center">
                            <button mat-button type="submit" mat-button class="mbutton mr-1" (click)="onReqSubmit()">
                                Submit</button>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>