.modal{
    width: 115%;
}

mat-form-field{
    font-family: poppins;
    letter-spacing: 0.18px;
} 
#approve-icon{
    color:green;
}
#reject-icon{
    color:red;
}
.modal-title{
    font-weight: bold;
    font-family: poppins;
    letter-spacing: 0.18px;
}
.search:focus{
    border-color: grey;
    box-shadow: none;
  }



::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
	background-color: #d68165!important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
	border-color:#d68165!important; /*outer ring color change*/
}