.container{
   font-family: poppins;
}

h1{
    font-family: poppins!important;
    font-weight: bold;
    letter-spacing: 0.18px;
  }
  input.mat-input-element{
    font-family: poppins!important;
  }

  #hyperlink{
    color:#bd34069e;
    text-decoration: underline;
  }
  .forgotpwd{
    border:none;background-color: white;cursor: pointer;
  }