<div class="container-fluid d-flex row col align-items-center m-0 p-0">
        <div class="container col-md-4 col-sm-4 border rounded-lg box-shadow">

        <div class="row" style="background-color: #bd34069e;">
            <button mat-button class="col mbutton m-1" style="background-color: #bd34069e">
                <mat-icon  style="margin-top:-4px">person</mat-icon>Login</button>
            <button mat-button class="col mbutton m-1" style="color:white" (click)="goToSignUp()" style="background-color: transparent;border-color: transparent;">
                <mat-icon style="margin-top:-4px">person_add</mat-icon>Register</button>
        </div>

        <div class="mt-3">
            <form [formGroup]="signInForm" class="p-2">

                <div class="form-group row justify-content-center">
                    <mat-icon class="col-1 mt-3">email</mat-icon>
                    <mat-form-field class="form-field col-10">
                        <input matInput formControlName="username" id="username" placeholder="Your Username" required>
                        <mat-error *ngIf="signInForm.controls.username.touched && signInForm.controls.username.invalid">
                            <span *ngIf="signInForm.controls.username.errors.required">This field is mandatory.</span>
                            <span *ngIf="signInForm.controls.username.errors.pattern">This field is invalid.</span>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group row justify-content-center">
                    <mat-icon class="col-1 mt-3">lock</mat-icon>
                    <mat-form-field class="form-field col-10">
                        <input type="password" matInput formControlName="password" id="password" placeholder="Your Password" required>
                        <mat-error *ngIf="signInForm.controls.password.touched && signInForm.controls.password.invalid">
                            <span *ngIf="signInForm.controls.password.errors.required">This field is mandatory.</span>
                            <span *ngIf="signInForm.controls.password.errors.pattern">This field is invalid.</span>
                        </mat-error>
                    </mat-form-field>
                </div>


                <div class="form-group text-center">
                    <button mat-button id="signInBtn" type="submit" class="mbutton" (click)="logIn()">LOG IN</button>
                </div>


                <div class="text-center">
                    <h4>
                        Not a Member?
                        <a routerLink="/signup" id="hyperlink">Sign Up</a>
                    </h4>
                    <button type="button" class="forgotpwd mb-3" id="hyperlink" data-toggle="modal" data-target="#myModal">Forgot Password?</button>
                   
                </div>
            </form>
        </div>


        <!-- ************************* forgot password modal************************** -->

        <div class="modal mt-5" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body text-center">
                        <div class="row col-md-12 h6">
                            <b>Enter your email to reset password.</b>
                        </div>
                       
                        <form [formGroup]="forgotPwdForm" class="">

                            <div class="form-group row">
                                <input type="email" class="form-control form-control-sm col-md-12 text-center" #forGtmailAdd formControlName="email" placeholder="Email ID"
                                    required>
                                <small class="text-danger" *ngIf=" forgotPwdForm.controls['email'].touched && forgotPwdForm.controls['email'].invalid">Invalid Email format.</small>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="form-group row">
                                <button mat-button type="submit" routerLinkActive="active" (click)="resetPassword(forGtmailAdd.value)" class="mbutton col-md-12 text-center">Reset Password</button>
                            </div>
                        </form>

                    </div>

                    <div class="modal-footer">
                        <button mat-button type="button" class="mbutton" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>