<div class="container mt-3" style="overflow: hidden;">

        <div class="form-group form-inline row m-0 p-0">
                <input type="text" class="form-control col-9 search" placeholder="Search Here" [(ngModel)]="term">
                <button *ngIf = "hasDeletePermission" mat-button class="col-2 ml-auto border" (click)="onDelete()">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                </button>
        </div>

        <ag-grid-angular style="width: auto; height: 480px;" class="ag-theme-alpine mt-3" [rowData]="rowData | filter:term " [columnDefs]="columnDefs"
                [pagination]="true" rowSelection='multiple' (selectionChanged)="onSelectionChanged($event)" (gridReady)="onGridReady($event)"
                [checkboxSelection]="true" [gridOptions]="gridOptions" (rowClicked)='onRowClicked($event)'>
        </ag-grid-angular>
</div>
<div class="col-md-12">
        <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
                <div class="modal-dialog modal-dialog-scrollable modal-xl">
                        <div class="modal-content">
                                <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Edit User Profile</h4>
                                        <button mat-button class="ml-auto" data-dismiss="modal" (click)="resetForm()">
                                                <mat-icon>clear</mat-icon>
                                        </button>
                                </div>
                                <div class="modal-body p-4 border m-3 rounded">
                                        <form [formGroup]="updateuserinfo">
                                                <!-- <div class="row"> -->
                                                        <!-- <div class="col-md-6 text-center">
                                                                <img src="./assets/userprof.png" height="75%" width="50%">
                                                        </div> -->
                                                        <!-- <div class="col-md-12"> -->
                                                                <div class="row">
                                                                        <mat-form-field class="col-2">
                                                                                <mat-select formControlName="title" id="title" placeholder="Title" required>
                                                                                        <mat-option value="His Grace">His Grace</mat-option>
                                                                                        <mat-option value="Very Rev Fr. Dr">Very Rev Fr. Dr</mat-option>
                                                                                        <mat-option value="Very Rev">Very Rev</mat-option>
                                                                                        <mat-option value="Fr">Fr</mat-option>
                                                                                        <mat-option value="Rev Fr. Dr">Rev Fr. Dr</mat-option>
                                                                                        <mat-option value="Rev Fr.">Rev Fr.</mat-option>
                                                                                        <mat-option value="Mr">Mr</mat-option>
                                                                                        <mat-option value="Ms">Ms</mat-option>
                                                                                        <mat-option value="Mrs">Mrs</mat-option>
                                                                                        <mat-option value="Dr">Dr</mat-option>
                                                                                </mat-select>
                                                                        </mat-form-field>
                                                                        <mat-form-field class="col">
                                                                                <mat-label>First Name</mat-label>
                                                                                <input id="firstName" matInput formControlName="firstName" required/>
                                                                        </mat-form-field>
                                                                
                                                                <mat-form-field class="col-md">
                                                                        <mat-label>Middle Name</mat-label>
                                                                        <input id="middleName" matInput formControlName="middleName" required/>
                                                                </mat-form-field>
                                                                <mat-form-field class="col-md">
                                                                        <mat-label>Last Name</mat-label>
                                                                        <input id="lastName" matInput formControlName="lastName" required/>
                                                                </mat-form-field>
                                                        <!-- </div> -->
                                                </div>
                                                <div class="row">
                                                        <mat-form-field class="col-md">
                                                                <mat-label>Nick Name</mat-label>
                                                                <input id="lastName" matInput formControlName="nickName" />
                                                        </mat-form-field>
                                                        <mat-form-field class="col-md">
                                                                <mat-label>Baptismal Name</mat-label>
                                                                <input id="batismalName" matInput formControlName="batismalName" />
                                                        </mat-form-field>
                                                        <mat-form-field class="col-md">
                                                                <mat-label>Date of Birth</mat-label>
                                                                <input matInput type="input" [matDatepicker]="picker" required id="dob" formControlName="dob" [max]=max_date>
                                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                                <mat-datepicker #picker></mat-datepicker>
                                                        </mat-form-field>
                                                </div>
                                                <div class="row">
                                                                <mat-form-field class="col-md-4">
                                                                                <mat-label style="padding-left: 15%;">Mobile Number</mat-label>
                                                                                <input matInput type="text" ng2TelInput (ng2TelOutput)="getMobileNumber($event)" formControlName="mobileNo" id="mobileNo" maxLength="10" minLength="10" (keypress)="keyPress($event)" required style="width: fit-content;"/>
                                                                                <mat-error *ngIf="updateuserinfo.controls.mobileNo.touched && updateuserinfo.controls.mobileNo.invalid">
                                                                                        <span *ngIf="updateuserinfo.controls.mobileNo.errors.required">This field is mandatory.</span>
                                                                                        <span *ngIf="updateuserinfo.controls.mobileNo.errors.pattern">Enter 10 digit number.</span>
                                                                                    </mat-error>
                                                                        </mat-form-field>
                                                        <mat-form-field class="col-md-4">
                                                                <mat-label style="padding-left: 15%;">Home Phone Number</mat-label>
                                                                <input id="homePhoneNo" matInput formControlName="homePhoneNo"  ng2TelInput (ng2TelOutput)="getHomePhoneNumber($event)" length="10" placeholder="Enter Home Phone Number" />
                                                                <mat-error *ngIf="updateuserinfo.controls.homePhoneNo.touched && updateuserinfo.controls.homePhoneNo.invalid">
                                                                        <span *ngIf="updateuserinfo.controls.homePhoneNo.errors.required">This field is mandatory.</span>
                                                                        <span *ngIf="updateuserinfo.controls.homePhoneNo.errors.pattern">Enter 10 digit number.</span>
                                                                    </mat-error>
                                                        </mat-form-field>

                                                        <mat-form-field class="col-md-4">
                                                                <mat-label>Email Address</mat-label>
                                                                <input id="emailAddress" matInput formControlName="emailAddress" placeholder="Enter Email Address" readonly/>
                                                        </mat-form-field>
                                                </div>
                                                <div class="row">
                                                        <mat-form-field class="col-md-12">
                                                                <mat-label>Address Line 1</mat-label>
                                                                <input required id="addressLine1" matInput formControlName="addressLine1" placeholder="Enter Address" />
                                                        </mat-form-field>
                                                </div>
                                                <div class="row">
                                                        <mat-form-field class="col-md-12">
                                                                <mat-label>Address Line 2</mat-label>
                                                                <input id="addressLine2" matInput formControlName="addressLine2" placeholder="Enter Address" />
                                                        </mat-form-field>
                                                </div>
                                                <div class="row">
                                                        <mat-form-field class="col-md-12">
                                                                <mat-label>Address Line 3</mat-label>
                                                                <input id="addressLine3" matInput formControlName="addressLine3" placeholder="Enter Address" />
                                                        </mat-form-field>
                                                </div>
                                                <div class="row">
                                                        <mat-form-field class="col-md-4">
                                                                <mat-label>City</mat-label>
                                                                <input required id="city" matInput formControlName="city" placeholder="Enter Address" />
                                                        </mat-form-field>

                                                        <mat-form-field class="col-md-4">
                                                                <mat-label>Postal Code</mat-label>
                                                                <input required id="postalCode" matInput formControlName="postalCode" placeholder="Enter Address" />
                                                        </mat-form-field>
                                                        <mat-form-field class="col-md-4">
                                                                <mat-label>Parish</mat-label>
                                                                <input id="parish" matInput formControlName="parish" readonly />

                                                        </mat-form-field>
                                                </div>
                                                <div class="row">
                                                        <mat-form-field class="col-md-6">
                                                                <mat-label>Country</mat-label>
                                                                <select matNativeControl required id="country" formControlName="country" placeholder="Select Country" [(ngModel)]="selectedCountry" (change)="changeCountry($event)">
                                                                        <option *ngFor="let country of countries" [value]="country.countryName">{{country.countryName}}</option>
                                                                </select>
                                                        </mat-form-field>
                                                        <mat-form-field class="col-md-6">
                                                                <mat-label>State/Province</mat-label>
                                                                <select matNativeControl required id="state" formControlName="state" placeholder="Select State/Province" >
                                                                        <option *ngFor="let state of states" [value]="state">{{state}}</option>
                                                                </select>
                                                                        </mat-form-field>
                                                </div>
                                                <div class="row">
                                                        <mat-form-field class="col-md">
                                                                <mat-label>Marital Status</mat-label>
                                                                <select matNativeControl required id="maritalStatus" formControlName="maritalStatus" placeholder="Enter Country">
                                                                        <option value="married">Married</option>
                                                                        <option value="unmarried">Unmarried</option>
                                                                </select>
                                                        </mat-form-field>
                                                        <mat-form-field class="col-md">
                                                                <mat-label>Date of Marriage</mat-label>
                                                                <input matInput type="input" [matDatepicker]="marriageDatepicker" id="dateofMarriage" formControlName="dateofMarriage"
                                                                        [max]=max_date>
                                                                <mat-datepicker-toggle matSuffix [for]="marriageDatepicker"></mat-datepicker-toggle>
                                                                <mat-datepicker #marriageDatepicker></mat-datepicker>
                                                        </mat-form-field>
                                                </div>
                                                <div class="row">
                                                        <mat-form-field class="col-md-12">
                                                                <mat-label>About Yourself</mat-label>
                                                                <textarea id="about_urself" matInput formControlName="about_urself" placeholder="About Yourself"></textarea>
                                                        </mat-form-field>
                                                </div>

                                                <div class="row" style="color:gray">
                                                        <label id="example-radio-group-label" class="ml-3">Are you Family Head? </label>
                                                        <mat-radio-group  aria-label="Select an option" formControlName="isFamilyHead">
                                                                <mat-radio-button class="ml-1" value="true">Yes</mat-radio-button>
                                                                <mat-radio-button class="ml-1" value="false" [checked]=true>No</mat-radio-button>
                                                              </mat-radio-group>
                                                </div>

                                                <div *ngIf = "hasRolePermission" class="roleSection">
                                                <mat-divider style="position: relative;background-color:rgb(136, 88, 25);height: 2px;margin-top: 12px;">
                                                </mat-divider>
                                                <div class="row" style="padding-top: 1%;">
                                                        <div class="col-md-6">
                                                                <h2>Role Assignment</h2>
                                                        </div>
                                                        <div class="col-md-6 col text-right">
                                                                <button mat-button (click)="onaddbtnclick()">
                                                                        <mat-icon>add</mat-icon>
                                                                        <span style="padding-top: 2%;font-size: 16px;">Add</span>
                                                                </button>
                                                        </div>
                                                </div>

                                                <fieldset>
                                                        <div class="row" formArrayName="roles" *ngFor="let item of updateuserinfo.get('roles')['controls']; let i = index;">
                                                                <div class="col-md-12" [formGroupName]="i" style="display:contents">

                                                                        <mat-form-field class="col-md-3">
                                                                                <mat-label>Role</mat-label>
                                                                                <select matNativeControl required formControlName="roleId">
                                                                                        <!-- <option value="null" hidden>Select Role</option>                                  -->
                                                                                        <option *ngFor="let role of roledata;" [value]=role.id>{{role.name}} </option>
                                                                                </select>

                                                                        </mat-form-field>
                                                                        <mat-form-field class="col-md-3">
                                                                                <mat-label [for]="i">Access Level Type</mat-label>
                                                                                <select  id="{{ i }}" matNativeControl required formControlName="role" (change)="onOrgSelect($event)">
                                                                                        <option *ngFor="let org of orgs" [value]="org.orgtype">{{org.orgtype}}</option>
                                                                                </select>
                                                                        </mat-form-field>

                                                                        <mat-form-field class="col-md-4">
                                                                                <mat-label  [for]="i" >Access Level ID</mat-label>
                                                                                <select  id="{{ i }}" matNativeControl required formControlName="orgId">
                                                                                        <option *ngFor="let orgDetail of getOrgDetailsArrByindex(i)" [value]=orgDetail.id>{{orgDetail.name}}</option>
                                                                                </select>
                                                                                <!-- <select *ngFor="let where of onOrgSelect(updateuserinfo.controls['roles']?.value[i]?.role)" value="{{where}}">{{where}}</select> -->
                                                                        </mat-form-field>

                                                                        <div class="col-md-2 col text-right">
                                                                                <button (click)="onremovebtnclick(i)" mat-button>
                                                                                        <mat-icon>delete</mat-icon>
                                                                                        <span>Delete</span>
                                                                                </button>
                                                                        </div>

                                                                </div>

                                                        </div>

                                                </fieldset>
                                                <mat-divider style="position: relative;background-color:rgb(136, 88, 25);height: 2px;margin-top: 12px;">
                                                </mat-divider>
                                        </div>

                                                <div class="row" style="padding-top: 1%;">
                                                        <div class="col text-center">

                                                                <button mat-button type="submit" mat-button class="mbutton" [disabled]="!updateuserinfo.valid" (click)="updateUserProfile()">
                                                                        Update</button>
                                                        </div>
                                                </div>
                                        </form>
                                </div>
                                <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>

                </div> -->
                        </div>
                </div>
        </div>
</div>