.container{
    font-family: poppins;
    letter-spacing: 0.18px;
}
.modal-title{
    font-weight: bold;
    font-family: poppins;
    letter-spacing: 0.18px;
}
mat-form-field{
    font-family: poppins;
    letter-spacing: 0.18px;
}
h2{
    font-family: poppins;
}
.modal{
    width:115%;
}
:host ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #a82b029e !important;
  }

  :host ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-inner-circle {
    background-color: #a82b029e !important;
  }