<div class="container mt-3" style="overflow: hidden;">

        <div class="form-group form-inline row m-1 p-2">
            <!--<input type="text" class="form-control col-9 search" placeholder="Search Events Here"> -->
            <button mat-button><mat-icon>delete</mat-icon> Delete</button>
            <button mat-button><mat-icon>add_circle</mat-icon> Add</button>
        </div>
        <!--
        <ag-grid-angular style="width: auto; height: 500px;" class="ag-theme-alpine mt-3" [columnDefs]="columnDefs"
                [pagination]="true" rowSelection='multiple' [checkboxSelection]="true" [gridOptions]="gridOptions">
        </ag-grid-angular>
        -->
        <app-event-creation></app-event-creation>
        
</div>

