<div class="container mt-3" style="overflow: hidden;">

    <!-- <div class="form-group form-inline row m-0 p-0">
            <input type="text" class="form-control col-9 search" placeholder="Search Here" [(ngModel)]="term">
            <button *ngIf = "hasDeletePermission" mat-button class="col-2 ml-auto border" (click)="onDelete()">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
            </button>
    </div> -->

    <ag-grid-angular style="width: auto; height: 480px;" class="ag-theme-alpine mt-3" [rowData]="eventRowData | filter:term "
        [columnDefs]="eventColumnDefs " [pagination]="true" 
        [checkboxSelection]="true"
        [gridOptions]="eventGridOption" (rowClicked)='onRowClicked($event)'>
        <!-- (selectionChanged)="onSelectionChanged($event)"
              (gridReady)="onGridReady($event)"
              rowSelection='multiple'
              -->
    </ag-grid-angular>



<div class="col-md-12">
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true" data-backdrop="false" style="padding-left:5%!important;padding-top:3%!important;margin-left: 5%;">
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Upload Score for <b>{{selectedEventName}}</b></h4>
                    <button mat-button class="ml-auto" data-dismiss="modal" >  
                        <mat-icon>clear</mat-icon>
                    </button>
                    <!-- (click)="" -->
                </div>
                <div class="modal-body border rounded">
                    <ag-grid-angular style="width: auto; height: 480px;" class="ag-theme-alpine mt-3"
                        [rowData]="participantRowData | filter:term " [columnDefs]="participantColumnDefs" [pagination]="true"
                        [checkboxSelection]="true" [gridOptions]="participantGridOptions">
                         (selectionChanged)="onSelectionChanged($event)" 
                            (rowClicked)='onRowClicked($event)'

                            <!-- (gridReady)="onGridReady($event)"  
                             rowSelection='multiple'
                            -->
                    </ag-grid-angular>
                    <div style="padding: 9px; text-align-last: center;">
                        <button mat-button class="ml-auto border" style="background: #d68165;" data-dismiss="modal" >  
                           Cancel
                            <!-- <mat-icon>clear</mat-icon> -->
                        </button>

                        <button [disabled]="selectedEvtIsScrSubmted" mat-button class="ml-auto border" (click)="handleScoreSaveBtnClick($event)" style="background: #d68165;">  
                            Save
                             <!-- <mat-icon>clear</mat-icon> -->
                         </button>

                         <button mat-button [disabled]="selectedEvtIsScrSubmted" class="ml-auto border" (click)="handleScoreCompleteBtnClick($event)" style="background: #d68165;">  
                            Submit
                             <!-- <mat-icon>clear</mat-icon> -->
                         </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>