<div class="container mt-4">
  <mat-card style="box-shadow: 7px 7px 22px grey;">
<form [formGroup]="myprofileform">
  <div class="row">

    <h2 class="col-md-12">My Profile</h2>
  </div>
  <div class="row" style="padding-left: 1.6%;">
                         
    <mat-form-field style="width:10%;">
        <mat-label>Title</mat-label>
        <mat-select matNativeControl required formControlName="title"> 
          <mat-option value="His Grace">His Grace</mat-option>
          <mat-option value="Very Rev Fr. Dr">Very Rev Fr. Dr</mat-option>
          <mat-option value="Very Rev">Very Rev</mat-option>
          <mat-option value="Fr">Fr</mat-option>
          <mat-option value="Rev Fr. Dr">Rev Fr. Dr</mat-option>
          <mat-option value="Rev Fr.">Rev Fr.</mat-option>
          <mat-option value="Mr">Mr</mat-option>
          <mat-option value="Ms">Ms</mat-option>                              
          <mat-option value="Mrs">Mrs</mat-option>
          <mat-option value="Dr">Dr</mat-option>
            <!-- <option *ngFor = "let role of roledata" [value]=role.id>{{role.name}} </option> -->
          </mat-select>
      </mat-form-field>
     

      <mat-form-field style="width:30%;padding-left: 1%;">
        <mat-label>First Name</mat-label>
        <input required id="firstName" matInput formControlName="firstName" placeholder="Enter First Name" />
      </mat-form-field>

      <mat-form-field style="width:30%;padding-left: 1%;">
        <mat-label>Middle Name</mat-label>
        <input required id="middleName" matInput formControlName="middleName" placeholder="Enter Middle Name" />
      </mat-form-field>

      <mat-form-field style="width:30%;padding-left: 1%;padding-right: 1.4%;">
        <mat-label>Last Name</mat-label>
        <input required id="lastName" matInput formControlName="lastName" placeholder="Enter Last Name" />                 
      </mat-form-field>
  
    </div>



  <div class="row">
     <mat-form-field class="col-md">
      <mat-label>Nick Name</mat-label>
      <input id="lastName" matInput formControlName="nickName" />
    </mat-form-field>

    <mat-form-field class="col-md">
      <mat-label>Baptismal Name</mat-label>
      <input id="batismalName" matInput formControlName="batismalName" />
    </mat-form-field>


          <mat-form-field class="col-md">
                  <mat-label>Date of Birth</mat-label>
                  <input matInput type="input" [matDatepicker]="picker" required  id="dob" formControlName="dob">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

  </div>
  <div class="row">
          <mat-form-field class="col-md-4">
                  <mat-label>Mobile Number</mat-label>
                  <input id="mobileNo" matInput formControlName="mobileNo" placeholder="Enter Mobile Number" />
          </mat-form-field>

          <mat-form-field class="col-md-4">
            <mat-label>Home Phone Number</mat-label>
            <input id="homePhoneNo" matInput formControlName="homePhoneNo" placeholder="Enter Mobile Number" />
         </mat-form-field>

         <mat-form-field class="col-md-4">
          <mat-label>Email Address</mat-label>
          <input id="emailId" matInput formControlName="emailId" placeholder="Enter Email Address" />
  </mat-form-field>
  </div>
  <div class="row">
  <mat-form-field class="col-md-12">
          <mat-label>Address Line 1</mat-label>
          <input id="addressLine1" matInput formControlName="addressLine1" placeholder="Enter Address" />
  </mat-form-field></div>
  <div class="row">
  <mat-form-field class="col-md-12">
          <mat-label>Address Line 2</mat-label>
          <input id="addressLine2" matInput formControlName="addressLine2" placeholder="Enter Address" />
  </mat-form-field></div>
  <div class="row">
    <mat-form-field class="col-md-12">
            <mat-label>Address Line 3</mat-label>
            <input id="addressLine3" matInput formControlName="addressLine3" placeholder="Enter Address" />
    </mat-form-field></div>
  <div class="row">
          <mat-form-field class="col-md">
                  <mat-label>City</mat-label>
                  <input required id="city" matInput formControlName="city" placeholder="Enter Address" />
          </mat-form-field>

          <mat-form-field class="col-md">
                  <mat-label>Postal Code</mat-label>
                  <input required id="postalCode" matInput formControlName="postalCode" placeholder="Enter Address" />
          </mat-form-field>

          <mat-form-field class="col-md">
            <mat-label>State</mat-label>
            <input required id="state" matInput formControlName="state" placeholder="Enter State" />
    </mat-form-field>
  </div>
  <div class="row">
                  
          <mat-form-field class="col-md">
                  <mat-label>Country</mat-label>
                  <select matNativeControl required id="country" formControlName="country" placeholder="Enter Country">
                          <option value="USA">USA</option>
                          <option value="India">India</option>
                  </select>
          </mat-form-field>

          <mat-form-field class="col-md-6">
            <mat-label>Parish</mat-label>
            <select matNativeControl formControlName="parish">
                    <option *ngFor="let parish of parishList" [value]="parish.id">{{parish.name}}</option>
            </select>
    </mat-form-field>

  </div>

  <div class="row">
    <mat-form-field class="col-md">
            <mat-label>Marital Status</mat-label>
            <select matNativeControl required id="maritalStatus" formControlName="maritalStatus" placeholder="Enter Country">
                    <option value="married">Married</option>
                    <option value="unmarried">Unmarried</option>
            </select>
    </mat-form-field>
    <mat-form-field class="col-md">
            <mat-label>Date of Marriage</mat-label>
            <input matInput type="input" [matDatepicker]="marriageDatepicker" required id="dateofMarriage" formControlName="dateofMarriage"
                    >
            <mat-datepicker-toggle matSuffix [for]="marriageDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #marriageDatepicker></mat-datepicker>
    </mat-form-field>
</div>
  <div class="row">
  <mat-form-field class="col-md-12">
    <mat-label>About Yourself</mat-label>
    <input id="aboutYourself" matInput formControlName="aboutYourself" placeholder="Enter About Yourself" />
</mat-form-field>
</div>


<div class="row">
  <div style="padding-left: 2%;">
  <h3>Is family head ?</h3>
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="true">Yes</mat-radio-button>&nbsp;
    <mat-radio-button value="false">No</mat-radio-button>
  </mat-radio-group>
</div>
</div>


  <mat-divider style="position: relative;background-color:rgb(136, 88, 25);height: 2px;margin-top: 12px;">
  </mat-divider>
  <div class="row" style="padding-top: 1%;">
          <div class="col-md-6">
                  <h2>Family Member Assignment</h2>
          </div>
          <div class="col-md-6 col text-right">
                  <button mat-button (click)="onaddbtnclick()">
                          <mat-icon>add</mat-icon>
                          <span style="padding-top: 2%;font-size: 16px;">Add</span>
                  </button>
          </div>
  </div>

  <fieldset>
                  <div class="row" formArrayName="memberDetails" *ngFor="let item of myprofileform.get('memberDetails')['controls']; let i = index;">
                      <div style="padding-left: 1%; width: 100%;" [formGroupName]="i">
                  

                        <div class="row">
                          <div class="col-md-6">
                          <mat-form-field class="col-md-6 col text-left">
                            <mat-label>Relationship</mat-label>
                            <mat-select matNativeControl required id="relationship" formControlName="relationship" placeholder="Enter Relationship"> 
                              <mat-option value="husband">Husband</mat-option>
                              <mat-option value="Wife">Wife</mat-option>
                              <mat-option value="Son">Son</mat-option>
                              <mat-option value="Daughter">Daughter</mat-option>
                              <mat-option value="Father">Father</mat-option>
                              <mat-option value="Mother">Mother</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                      
                          <div class="col-md-6">
                          <div *ngIf = "hasDeletePerm" class="col text-right">
                            <button (click)="onremovebtnclick(i)" mat-button >
                              <mat-icon>delete</mat-icon><span>Delete</span></button>
                          </div>
                        </div>

                        </div>

                        <div class="row" style="padding-left: 2.5%;">
                         
                      <mat-form-field style="width:10%;">
                          <mat-label>Title</mat-label>
                          <mat-select matNativeControl required formControlName="title"> 
                            <mat-option value="His Grace">His Grace</mat-option>
                            <mat-option value="Very Rev Fr. Dr">Very Rev Fr. Dr</mat-option>
                            <mat-option value="Very Rev">Very Rev</mat-option>
                            <mat-option value="Fr">Fr</mat-option>
                            <mat-option value="Rev Fr. Dr">Rev Fr. Dr</mat-option>
                            <mat-option value="Rev Fr.">Rev Fr.</mat-option>
                            <mat-option value="Mr">Mr</mat-option>
                            <mat-option value="Ms">Ms</mat-option>                              
                            <mat-option value="Mrs">Mrs</mat-option>
                            <mat-option value="Dr">Dr</mat-option>
                              <!-- <option *ngFor = "let role of roledata" [value]=role.id>{{role.name}} </option> -->
                            </mat-select>
                        </mat-form-field>
                       

                        <mat-form-field style="width:30%;padding-left: 1%;">
                          <mat-label>First Name</mat-label>
                          <input required id="firstName" matInput formControlName="firstName" placeholder="Enter First Name" />
                        </mat-form-field>
      
                        <mat-form-field style="width:30%;padding-left: 1%;">
                          <mat-label>Middle Name</mat-label>
                          <input required id="middleName" matInput formControlName="middleName" placeholder="Enter Middle Name" />
                          
                        </mat-form-field>

                        <mat-form-field style="width:30%;padding-left: 1%;padding-right: 2%;">
                          <mat-label>Last Name</mat-label>
                          <input required id="lastName" matInput formControlName="lastName" placeholder="Enter Last Name" />                 
                        </mat-form-field>
                    
                      </div>


                       
                      <div class="row" style="padding-left: 1%;">
                        <mat-form-field class="col-md-4">
                          <mat-label>Date of Birth</mat-label>
                          <input matInput type="input" [matDatepicker]="picker" required  id="dob" formControlName="dob">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>

                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                          <mat-label>Mobile Number</mat-label>
                          <input required id="mobileNo" matInput formControlName="mobileNo" placeholder="Enter Mobile No" />                 
                        </mat-form-field>

                        <mat-form-field class="col-md-4" style="padding-right: 2%;">
                          <mat-label>Email Address</mat-label>
                          <input required id="emailId" matInput formControlName="emailId" placeholder="Enter Email Address" />                 
                        </mat-form-field>
                      </div>
      
  
                        
  
                      </div>
      
                  </div>
      
              </fieldset> 

  <mat-divider style="position: relative;background-color:rgb(136, 88, 25);height: 2px;margin-top: 12px;">
  </mat-divider>

  <div class="row" style="padding-top: 1%;">
          <div class="col text-center">

                  <button mat-button type="submit" mat-button class="mbutton" (click)="updateUserProfile()">
                          Update</button>
          </div>
  </div>
</form>
  </mat-card>
</div>

