h1{
    font-family: 'poppins'!important;
    font-weight: bold;
	letter-spacing: 0.18px;
	margin-bottom: -0.5em;
  }
  input.mat-input-element{
	font-family: 'poppins'!important;

  }
  
  .container{
    font-family: 'poppins'!important;
    width: 100%;
	padding-bottom: 2%;
	justify-content: center;
  letter-spacing: 0.18px;
 
	
 }

 .shadow
 {
    box-shadow: 7px 7px 22px grey;
 }
 ::ng-deep .mat-form-field-wrapper{
	margin-bottom: 2%;
	margin-top: -0.5em;

 }
 